* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 90px;
  position: fixed;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
}

#crcl1 {
  position: absolute;
  top: 0;
  right: 160px;
}

#crcl2 {
  position: absolute;
  top: 0;
  right: 80px;
}

#crcl3 {
  position: absolute;
  top: 0;
  right: 0;
}

a {
  text-decoration: none;
  color: black;
}

.circle:hover {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.section_1 {
  background-color: red;
}

.section_2 {
  background-color: green;
}

.section_3 {
  background-color: yellow;
}

.section_1, .section_2, .section_3 {
  padding-top: 150px;
  padding-bottom: 200px;
}

img {
  transform: translate(600px);
}

.top, .bottom {
  font-size: 50px;
}

.top {
  transform: translate(650px);
}

.bottom {
  transform: translate(850px);
}

.section_1, .section_2 h1 {
  color: yellow;
}

.section_3 h1 {
  color: green;
}
